.container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#chart {
  height: 600px;
}

.subtitle {
  margin: 0;
  font-weight: bold;
}

.edit-button {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}
