<div class="container">
  <p *ngIf="selectedCPrograms.length != 0" class="subtitle">CC2020 Programs</p>

  <app-chip-list *ngIf="selectedCPrograms.length != 0" onlyView="true" [items]="selectedCPrograms"
    (onChange)="updateGraph()"></app-chip-list>

  <p *ngIf="selectedUPrograms.length != 0" class="subtitle">Institution Programs</p>

  <app-chip-list *ngIf="selectedUPrograms.length != 0" onlyView="true" [items]="selectedUPrograms"
    (onChange)="updateGraph()"></app-chip-list>

  <div class="edit-button" *ngIf="isAuthenticated">
    <dx-button stylingMode="contained" text="Edit" type="normal" [width]="100" (onClick)="editGraph()"> </dx-button>
  </div>

  <app-linear-graph [series]="selectedSeries" yAxis="dkaId" [xAxis]="dkas" xAxisExpr="formatedName"></app-linear-graph>
</div>