<h1 class="title" translate>auth.resendEmail.title</h1>

<ng-container *ngIf="!submitted">
  <div class="spinner-container">
    <ngx-spinner bdColor="rgb(255,255,255)" size="medium" color="#000000" type="ball-rotate" [fullScreen]="false">
      <p class="loading-message" translate>auth.resendEmail.loadingMessage</p>
    </ngx-spinner>

    <form (submit)="onFormSubmit($event)">
      <dx-form labelLocation="top" [(formData)]="formData" [readOnly]="false" [showColonAfterLabel]="true">

        <dxi-item dataField="email">
          <dxo-label [text]="'auth.resendEmail.emailField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.resendEmail.emailField' | translate)}">
          </dxi-validation-rule>
          <dxi-validation-rule type="email" [message]="'auth.emailTypeValidationEmail' | translate">
          </dxi-validation-rule>
          <dxi-validation-rule type="async" [validationCallback]="asyncValidation"
            [message]="'auth.emailNotRegisteredTypeValidationAsync' | translate">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item editorType="dxTextBox">
          <dxo-label [text]="'auth.resendEmail.confirmEmailField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.resendEmail.confirmEmailField' | translate)}">
          </dxi-validation-rule>
          <dxi-validation-rule type="compare" [comparisonTarget]="emailComparison"
            [message]="'auth.confirmPasswordTypeValidationCompare' | translate">
          </dxi-validation-rule>
          <dxi-validation-rule type="email" [message]="'auth.emailTypeValidationEmail' | translate">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="buttonOptions">
        </dxi-item>

      </dx-form>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="submitted">
  <div class="message-container">
    <fa-icon class="statusIcon" [icon]="statusIcon" [style.color]="errorOcurred ? '#f65334' : '#6da951'"></fa-icon>
    <p class="message">{{message}}</p>
  </div>
</ng-container>