<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <div class="left">
        <img height="60" src="assets/acm-ieee.jpg">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="true" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <ng-container *ngIf="navItems">
          <li class="nav-item" *ngFor="let item of navItems.children">
            <a class="nav-link" [routerLink]="[navItems.path + '/' + item.path]">{{item.name}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div *ngIf="isAuthenticated">
      <button type="button" class="btn btn-outline-primary" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
