<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a routerLink="/">
      <div class="left">
        <img height="60" src="assets/images/acm-ieee.jpg">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="true" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="navItems">
          <li class="nav-item" *ngFor="let item of navItems">
            <a class="nav-link" [routerLink]="[item.path]">{{item.name}}</a>
          </li>
        </ng-container>
      </ul>
      <app-login-inline *ngIf="!isAuthenticated"></app-login-inline>
      <div class="dropdown" *ngIf="isAuthenticated">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action">
          <div class="user-info">
            <p class="name">{{userName}}</p>
            <p class="university">{{universityName}}</p>
            <p class="email">{{email}}</p>
          </div>
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="logout()" translate>navbar.logoutRoute</a>
        </div>
      </div>
    </div>
  </div>
</nav>