<form (submit)="onFormSubmit($event)">
  <dx-form labelLocation="top" [(formData)]="formData" [readOnly]="false" [showColonAfterLabel]="true">

    <div *dxTemplate="let data of 'userCountry'">
      <dx-select-box [(value)]="formData.userInfo.countryId"
        [placeholder]="'auth.register.userCountryPlaceholder' | translate" displayExpr="name" [items]="countries"
        [searchEnabled]="true" valueExpr="id" (onValueChanged)="onUserCountrySelected($event)">
      </dx-select-box>
    </div>

    <div *dxTemplate="let data of 'universityCountry'">
      <dx-select-box [(value)]="formData.university.countryId"
        [placeholder]="'auth.register.universityCountryPlaceholder' | translate" displayExpr="name" [items]="countries"
        [searchEnabled]="true" valueExpr="id" (onValueChanged)="onUniversityCountrySelected($event)"></dx-select-box>
    </div>

    <div *dxTemplate="let data of 'universityName'">
      <dx-select-box [(value)]="formData.university.id" displayExpr="name"
        [placeholder]="'auth.register.universityNamePlaceholder' | translate" [items]="universities" [searchEnabled]="true" valueExpr="id"
        [acceptCustomValue]="true" (onCustomItemCreating)="onUniversityCreating($event)"
        [disabled]="formData.university.countryId === undefined" (onValueChanged)="onUniversitySelected($event)">
      </dx-select-box>
    </div>

    <dxi-item itemType="group" [caption]="'auth.register.userGroupTitle' | translate">

      <dxi-item dataField="userInfo.countryId" template="userCountry">
        <dxo-label [text]="'auth.register.userCountryField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.userCountryField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="userInfo.city">
        <dxo-label [text]="'auth.register.userCityField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.userCityField' | translate)}">
        </dxi-validation-rule>
        <dxi-validation-rule type="pattern" [pattern]="onlyTextPattern"
          [message]="'auth.typeValidationOnlyText' | translate:{'field': ('auth.register.userCityField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="userInfo.state">
        <dxo-label [text]="'auth.register.userStateField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.userStateField' | translate)}">
        </dxi-validation-rule>
        <dxi-validation-rule type="pattern" [pattern]="onlyTextPattern"
          [message]="'auth.typeValidationOnlyText' | translate:{'field': ('auth.register.userStateField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="userInfo.zipCode">
        <dxo-label [text]="'auth.register.userZipCodeField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.userZipCodeField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="userInfo.phone" [helpText]="'auth.register.userPhoneHelpText' | translate" [editorOptions]="{ 
          mask: '+1 (X00) 000-0000', maskRules: phoneRules, useMaskedValue: true,
          maskInvalidMessage: ('auth.register.userPhoneHelpText' | translate)}">
        <dxo-label [text]="'auth.register.userPhoneField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.userPhoneField' | translate)}">
        </dxi-validation-rule>
        <dxi-validation-rule type="pattern" [pattern]="phonePattern"
          [message]="'auth.register.userPhoneTypeValidationPattern' | translate">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item itemType="empty"></dxi-item>

      <dxi-item itemType="group" [colCount]="2">

        <dxi-item itemType="group" [colCount]="3">
          <dxi-item itemType="simple" dataField="userInfo.whatsApp" editorType="dxCheckBox" [editorOptions]="{ 
          text: 'WhatsApp', value: false}">
            <dxo-label [visible]="false"></dxo-label>
          </dxi-item>
          <dxi-item>
            <img height="15" style="margin-right: 5px;" src="assets/images/whatsapp.svg">
          </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3">
          <dxi-item itemType="simple" dataField="userInfo.telegram" editorType="dxCheckBox" [editorOptions]="{ 
            text: 'Telegram', value: false}">
            <dxo-label [visible]="false"></dxo-label>
          </dxi-item>
          <dxi-item>
            <img height="15" style="margin-right: 5px;" src="assets/images/telegram.svg">
          </dxi-item>
        </dxi-item>
      </dxi-item>

    </dxi-item>

    <dxi-item itemType="empty"></dxi-item>

    <dxi-item itemType="group" [caption]="'auth.register.universityGroupTitle' | translate">

      <dxi-item dataField="university.countryId" template="universityCountry">
        <dxo-label [text]="'auth.register.universityCountryField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.universityCountryField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="university.id" template="universityName">
        <dxo-label [text]="'auth.register.universityNameField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.universityNameField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="occupation">
        <dxo-label [text]="'auth.register.universityPositionField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.universityPositionField' | translate)}">
        </dxi-validation-rule>
        <dxi-validation-rule type="pattern" [pattern]="onlyTextPattern"
          [message]="'auth.typeValidationOnlyText' | translate:{'field': ('auth.register.universityPositionField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="2">
        <dxi-item dataField="university.url">
          <dxo-label [text]="'auth.register.universityDomainField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.universityDomainField' | translate)}">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="university.acronym">
          <dxo-label [text]="'auth.register.universityAcronymField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.universityAcronymField' | translate)}">
          </dxi-validation-rule>
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="simple" dataField="accepted" editorType="dxCheckBox" [editorOptions]="{ 
        text: ('auth.register.agreementMessage' | translate), value: false}">
        <dxo-label [visible]="false"></dxo-label>
        <dxi-validation-rule type="compare" [comparisonTarget]="checkComparison"
          [message]="'auth.register.agreementMessageTypeValidationCompare' | translate">
        </dxi-validation-rule>
      </dxi-item>

    </dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item class="dx-button" itemType="button" horizontalAlignment="left" [buttonOptions]="backButtonOptions">
      </dxi-item>
      <dxi-item class="dx-button" itemType="button" horizontalAlignment="left" [buttonOptions]="completeButtonOptions">
      </dxi-item>
    </dxi-item>

  </dx-form>
</form>