.title {
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-align: center;

  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

.status-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.loading-message {
  color: black;
}

.message {
  margin-top: 20px;
}