<dx-toolbar>
  <dxi-item location="after" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <div class='toolbar-label'><b translate>admin.home.programToolbarLabel</b></div>
    </div>
  </dxi-item>
  <dxi-item location="after" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <dx-select-box id="selectbox" [items]="cPrograms" displayExpr="name" [value]="selectedCProgram"
        (onValueChanged)="onSelectedProgram($event.value)" style="width: 250px">
      </dx-select-box>
    </div>
  </dxi-item>
  <dxi-item location="after" widget="dxButton" locateInMenu="never" [options]="addProgramButton">
  </dxi-item>
</dx-toolbar>

<app-linear-graph [title]="selectedCProgram.name" [series]="series" yAxis="dkaId" [xAxis]="dkas"
  xAxisExpr="formatedName"></app-linear-graph>

<div class="programs-tree-dropdown dx-field row col-sm-6">
  <div class="dx-field-label" translate>admin.home.programTreeDropdownLabel</div>
  <div class="dx-field-value">
    <dx-drop-down-box [(value)]="programBoxValue" valueExpr="id" displayExpr="acronym"
      [placeholder]="'admin.home.programTreeDropdownPlaceholder' | translate" [dataSource]="cPrograms">

      <div *dxTemplate="let data of 'content'">
        <dx-tree-view [dataSource]="cPrograms" dataStructure="plain" keyExpr="id" selectionMode="multiple"
          showCheckBoxesMode="normal" [selectNodesRecursive]="false" displayExpr="name" [selectByClick]="true"
          (onItemSelectionChanged)="syncProgramSelectionChanged($event)" selectedExpr="selected">
          <div *dxTemplate="let item of 'item'">
            {{ item.name + ' (' + item.acronym + ')' }}
          </div>
        </dx-tree-view>
      </div>
    </dx-drop-down-box>
  </div>
</div>

<app-multiprogram-grid [selectedPrograms]="selectedPrograms" (onProgramUpdate)="updateGraph($event)">
</app-multiprogram-grid>

<dx-popup show-title="true" [title]="'admin.home.newProgramFormTitle' | translate" [(visible)]="programFormVisible"
  [dragEnabled]="false" [closeOnOutsideClick]="true" height="270" width="400">
  <div *dxTemplate="let data of 'content'">

    <form (submit)="onCreateProgram($event)">
      <dx-form labelLocation="top" [(formData)]="programFormData" [readOnly]="false" [showColonAfterLabel]="true">

        <dxi-item dataField="name">
          <dxo-label [text]="'admin.home.newProgramFormNameField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'admin.home.typeValidationRequired' | translate:{'field': ('admin.home.newProgramFormNameField' | translate)}">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="acronym">
          <dxo-label [text]="'admin.home.newProgramFormAcronymField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'admin.home.typeValidationRequired' | translate:{'field': ('admin.home.newProgramFormAcronymField' | translate)}">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="submitButtonOptions">
        </dxi-item>

      </dx-form>
    </form>

  </div>
</dx-popup>