<form (submit)="onFormSubmit($event)">
  <dx-form labelLocation="top" [(formData)]="formData" [readOnly]="false" [showColonAfterLabel]="true">

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item dataField="firstName"
        [editorOptions]="{ placeholder: (reduced ? ('auth.register.firstNameField' | translate) : '')}">
        <dxo-label [visible]="!reduced" [text]="'auth.register.firstNameField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.firstNameField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="lastName"
        [editorOptions]="{ placeholder: (reduced ? ('auth.register.lastNameField' | translate) : '')}">
        <dxo-label [visible]="!reduced" [text]="'auth.register.lastNameField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.lastNameField' | translate)}">
        </dxi-validation-rule>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="1">
      <dxi-item dataField="email"
        [editorOptions]="{ placeholder: (reduced ? ('auth.register.emailField' | translate) : '')}">
        <dxo-label [visible]="!reduced" [text]="'auth.register.emailField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.emailField' | translate)}">
        </dxi-validation-rule>
        <dxi-validation-rule type="email" [message]="'auth.emailTypeValidationEmail' | translate">
        </dxi-validation-rule>
        <dxi-validation-rule type="async" [validationCallback]="asyncValidation"
          [message]="'auth.emailRegisteredTypeValidationAsync' | translate">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="password"
        [editorOptions]="{ mode: 'password', placeholder: (reduced ? ('auth.register.passwordField' | translate) : '') }">
        <dxo-label [visible]="!reduced" [text]="'auth.register.passwordField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.passwordField' | translate)}">
        </dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [min]="6" [max]="18"
          [message]="'auth.passwordTypeValidationLength' | translate">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item editorType="dxTextBox"
        [editorOptions]="{ mode: 'password', placeholder: (reduced ? ('auth.register.confirmPasswordField' | translate) : '') }">
        <dxo-label [visible]="!reduced" [text]="'auth.register.confirmPasswordField' | translate"></dxo-label>
        <dxi-validation-rule type="required"
          [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.register.confirmPasswordField' | translate)}">
        </dxi-validation-rule>
        <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
          [message]="'auth.confirmPasswordTypeValidationCompare' | translate">
        </dxi-validation-rule>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="buttonOptions">
    </dxi-item>

  </dx-form>
</form>