<h1 class="title" translate>auth.login.title</h1>

<app-alert></app-alert>

<form (submit)="onFormSubmit($event)">
  <dx-form labelLocation="top" [(formData)]="formData" [readOnly]="false" [showColonAfterLabel]="true">

    <dxi-item dataField="email">
      <dxo-label [text]="'auth.login.emailField' | translate"></dxo-label>
      <dxi-validation-rule type="required"
        [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.login.emailField' | translate)}">
      </dxi-validation-rule>
      <dxi-validation-rule type="email" [message]="'auth.emailTypeValidationEmail' | translate">
      </dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="password" [editorOptions]="{ mode: 'password' }">
      <dxo-label [text]="'auth.login.passwordField' | translate"></dxo-label>
      <dxi-validation-rule type="required"
        [message]="'auth.typeValidationRequired' | translate:{'field': ('auth.login.passwordField' | translate)}">
      </dxi-validation-rule>
      <dxi-validation-rule type="stringLength" [min]="6" [max]="18"
        [message]="'auth.passwordTypeValidationLength' | translate">
      </dxi-validation-rule>
    </dxi-item>

    <dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="buttonOptions">
    </dxi-item>

  </dx-form>
</form>

<section class="another-action" aria-label="Register" translate>
  auth.login.anotherAction <a class="text-link" routerLink="/auth/register" translate>auth.login.registerLink</a>
</section>