<app-dl-user-programs [universityId]="universityId" (onSelected)="onSelectedUProgram($event)"></app-dl-user-programs>

<app-chip-list [items]="selectedUPrograms" [options]="optionsUserPrograms" (onChange)="updateGraph()"></app-chip-list>

<app-dl-computing-programs (onSelected)="onSelectedCProgram($event)"></app-dl-computing-programs>

<app-chip-list [items]="selectedCPrograms" (onChange)="updateGraph()"></app-chip-list>

<app-dl-university-programs (onSelected)="onSelectedUProgram($event)"></app-dl-university-programs>

<app-chip-list [items]="selectedUPrograms" [options]="optionsUPrograms" (onChange)="updateGraph()"></app-chip-list>

<app-share-link [link]="graphLink"></app-share-link>

<app-linear-graph [series]="selectedSeries" yAxis="dkaId" [xAxis]="dkas" xAxisExpr="formatedName"></app-linear-graph>