<div class="container-background pb-4 px-sm-3 pb-sm-4">
  <div class="container px-0 section section-banner">
    <div class="row m-0 w-100">
      <div class="col-lg-7 container-banner">
        <div class="banner-logo">
          <img src="assets/images/cc2020.png" width="100%">
          <svg viewBox="0 0 55 18">
            <text class="banner-title" x="0" y="15">Viztools</text>
          </svg>
        </div>
      </div>
      <div class="col-lg-5 container-register px-0 pt-4">
        <app-register></app-register>
      </div>
    </div>
  </div>
  <div class="container px-0 section section-image">
    <div class="row m-0 w-100">
      <div class="col-md-4">
        <div class="container-image">
          <img src="assets/images/example-view-1.png" width="100%">
        </div>
      </div>
      <div class="col-md-4">
        <div class="container-image">
          <img src="assets/images/example-view-2.png" width="100%">
        </div>
      </div>
      <div class="col-md-4">
        <div class="container-image">
          <img src="assets/images/example-view-3.png" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>