.footer {
  background-color: #3a3a3a;
  color: white;
  width: 100%;
  font-size: 0.9em;
  flex-shrink: 0;
}

.footer-row {
  flex-direction: row-reverse;
}

dx-select-box {
  width: 200px;
  height: 35px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 560px) {
  dx-select-box {
    width: 100%;
  }
}