<dx-chart id="chart" palette="material" [title]="title" [dataSource]="realData">

  <dxo-common-series-settings argumentField="label">
  </dxo-common-series-settings>

  <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
    <dxo-label wordWrap="none" overlappingBehavior="rotate"></dxo-label>
  </dxo-argument-axis>

  <dxo-legend [visible]="false"></dxo-legend>

  <ng-container *ngFor="let serie of realSeries">
    <dxi-series *ngIf="serie.type == 'line'" [name]="serie.name" [valueField]="serie.value" [type]="serie.type"
      [color]="serie.color" hoverMode="allSeriesPoints">
    </dxi-series>
    <dxi-series *ngIf="serie.type == 'rangeArea'" [name]="serie.name" [rangeValue1Field]="serie.min"
      [rangeValue2Field]="serie.max" [type]="serie.type" [color]="serie.color">
    </dxi-series>
  </ng-container>

  <dxi-series name="void-serie" valueField="_void">
  </dxi-series>

  <dxi-value-axis [(visualRange)]="visualRange" [(wholeRange)]="wholeRange" [valueMarginsEnabled]="false"
    [minorTick]="1.0">
    <dxo-label>
      <dxo-font color="#000000"></dxo-font>
    </dxo-label>
  </dxi-value-axis>

  <dxo-tooltip [enabled]="true" location="edge" [customizeTooltip]="showSeriesName">
  </dxo-tooltip>
</dx-chart>