<div class="mt-4">
  <form [formGroup]="formLogin" (ngSubmit)="onLogin()" class="form-login">
    <mat-form-field class="login-field" appearance="outline">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="formLogin.controls['email'].errors?.['required']">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-field" appearance="outline">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>key</mat-icon>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="formLogin.controls['password'].errors?.['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="formLogin.controls['password'].errors?.['minlength']">
        Password must be at least 6 characters
      </mat-error>
      <mat-error *ngIf="formLogin.controls['password'].errors?.['maxlength']">
        Password must be less than 20 characters
      </mat-error>
    </mat-form-field>
    <button mat-flat-button class="login-button" color="primary">
      <mat-label>Login</mat-label>
      <mat-icon matPrefix>login</mat-icon>
    </button>
  </form>
</div>