:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.background-container {
  flex: 1 0 auto;
  width: 100%;
  background-image: url('/assets/images/landing-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.col-brand {
  position: relative;
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.brand-container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 80%;
}

.col-update {
  margin-bottom: 40px;
}

svg {
  width: 80%;
}

.title {
  fill: #ffffff;
  text-align: center;
  font-family: 'Versatile';
  text-shadow: 0px 0px 0px rgba(0,0,0,0.3);
}

.register-title {
	margin-top: 0;
	margin-bottom: 2rem;
	text-align: center;

	font-size: 2.25rem;
	font-weight: 700;
	line-height: 3rem;
}

.register-reduced {
  min-width: 300px;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 0 0 .25rem .25rem;
}

.image-section {
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: .0625rem #e0e0e0;
  border-radius: .25rem;
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.image-section .image-container {
  padding: 5px;
}
