<div class="background-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-brand col-update">
        <div class="brand-container">
          <img src="assets/images/cc2020.png" width="100%">
          <svg viewBox="0 0 60 18">
            <text class="title" x="0" y="15">Viztools</text>
          </svg>
        </div>
      </div>
      <div class="col-sm-5 col-update">
        <div class="register-reduced">
          <h2 class="register-title" translate>auth.register.title</h2>
          <app-credentials-form [formData]="userData" [reduced]="true" (onSubmit)="onCredentialComplete()">
          </app-credentials-form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <section class="image-section">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="image-container">
                  <img src="assets/images/example-view-2.png" width="100%">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image-container">
                  <img src="assets/images/example-view-1.png" width="100%">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image-container">
                  <img src="assets/images/example-view-3.png" width="100%">
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>