<b translate>shared.dropdownListUniversityProgram.title</b>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-md-auto subtitle" translate>shared.dropdownListUniversityProgram.countryLabel</div>
      <div class="col-sm select-box">
        <dx-select-box [items]="countries" displayExpr="name" (onValueChanged)="onSelectedCountry($event)"
          [searchEnabled]="true" [placeholder]="'shared.dropdownListUniversityProgram.countryPlaceholder' | translate">
        </dx-select-box>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-md-auto subtitle" translate>shared.dropdownListUniversityProgram.universityLabel</div>
      <div class="col-sm select-box">
        <dx-select-box [items]="universities" displayExpr="name" (onValueChanged)="onSelectedUniversity($event)"
          [searchEnabled]="true"
          [placeholder]="'shared.dropdownListUniversityProgram.universityPlaceholder' | translate">
        </dx-select-box>
      </div>
    </div>
  </div>
  <div class=" col-sm-6">
    <div class="row">
      <div class="col-md-auto subtitle" translate>shared.dropdownListUniversityProgram.programLabel</div>
      <div class="col-sm select-box">
        <dx-select-box [items]="programs" displayExpr="name" (onValueChanged)="onSelectedProgram($event)"
          [searchEnabled]="true" [(value)]="selectedProgram"
          [placeholder]="'shared.dropdownListUniversityProgram.programPlaceholder' | translate">
        </dx-select-box>
      </div>
    </div>
  </div>
</div>