<h1 class="title" translate>auth.register.title</h1>

<ng-container *ngIf="section === CredentialsSection">
  <app-credentials-form [formData]="userData" (onSubmit)="onCredentialComplete()"></app-credentials-form>
  <section class="another-action" translate>
    auth.register.anotherAction <a class="text-link" routerLink="/auth/login" translate>auth.register.loginLink</a>
  </section>
</ng-container>

<ng-container *ngIf="section === InformationSection">
  <div class="spinner-container">
    <ngx-spinner bdColor="rgb(255,255,255)" size="medium" color="#000000" type="ball-rotate" [fullScreen]="false">
      <p class="loading-message" translate>auth.register.loadingMessage</p>
    </ngx-spinner>
    <app-info-form *ngIf="!submitted" [formData]="userDetails" (onBack)="onBackForm()"
      (onSubmit)="onRegisterComplete($event)">
    </app-info-form>
  </div>
</ng-container>

<ng-container *ngIf="section === CompletedSection">
  <div class="message-container">
    <fa-icon class="status-icon" [icon]="emailIcon"></fa-icon>
    <p class="message" translate>auth.register.successMessage</p>
  </div>
</ng-container>