<dx-toolbar class="dx-toolbar">
  <dxi-item location="after" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <div class='toolbar-label'><b translate>user.home.programToolbarLabel</b></div>
    </div>
  </dxi-item>
  <dxi-item location="after" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <dx-select-box [items]="uPrograms" displayExpr="name" (onValueChanged)="onSelectedProgram($event)"
        style="width: 250px" [value]="selectedUProgram">
      </dx-select-box>
    </div>
  </dxi-item>
  <dxi-item location="after" widget="dxButton" locateInMenu="never" [options]="addProgramButton">
  </dxi-item>
</dx-toolbar>

<div class="container">
  <div class="row">
    <div class="col-sm" *ngIf="selectedUProgram && similarCProgram">

      <p class="subtitle" translate>user.home.programNameLabel</p>
      <p class="text-detail">{{selectedUProgram.name}}</p>

      <p class="subtitle" translate>user.home.programAcronymLabel</p>
      <p class="text-detail">{{selectedUProgram.acronym}}</p>

      <p class="subtitle" translate>user.home.programSimilarProgramLabel</p>
      <p class="text-detail">{{similarCProgram.name}}</p>

      <p class="subtitle" translate>user.home.programUniversityLabel</p>
      <p class="text-detail">{{university.name}}</p>

      <p class="subtitle" translate>user.home.programCountryLabel</p>
      <p class="text-detail">{{university.countryName}}</p>

    </div>

    <div class="col-sm">
      <dx-data-grid [dataSource]="tableDS" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
        [height]="500" [rowAlternationEnabled]="true" [columnAutoWidth]="true">

        <dxo-editing [allowUpdating]="true" [allowAdding]="false" [allowDeleting]="false" [selectTextOnEditStart]="true"
          [useIcons]="true" mode="cell">
        </dxo-editing>

        <dxo-grouping [allowCollapsing]="false" [contextMenuEnabled]="true" expandMode="rowClick"></dxo-grouping>
        <dxo-group-panel [visible]="false" emptyPanelText="Relative Weights of Computing Knowledge Areas">
        </dxo-group-panel>

        <dxi-column dataField="id" [allowEditing]="false" [visible]="false"></dxi-column>

        <dxi-column dataField="formatedDKAGTitle" [allowEditing]="false" [groupIndex]="0" caption="" [sortIndex]="0"
          sortOrder="asc">
        </dxi-column>

        <dxi-column dataField="dkaIndex" [sortIndex]="1" sortOrder="asc" [visible]="false">
        </dxi-column>

        <dxi-column dataField="DKAPrefix" [caption]="'user.home.gridIndexTitle' | translate" [width]="60"
          [allowEditing]="false" [visible]="true">
        </dxi-column>

        <dxi-column dataField="dkaTitle" [caption]="'user.home.gridDKATitle' | translate" [allowEditing]="false"
          [visible]="true">
        </dxi-column>

        <dxi-column [caption]="'user.home.gridValueTitle' | translate">
          <dxi-column alignment="center" dataField="value" caption="(1-5)" [width]="80" [allowEditing]="true"
            [visible]="true">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
        </dxi-column>

        <dxo-search-panel [visible]="false"></dxo-search-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-scrolling mode="virtual" columnRenderingMode="virtual"></dxo-scrolling>

      </dx-data-grid>
    </div>
  </div>
</div>

<dx-popup show-title="true" [title]="'user.home.newProgramFormTitle' | translate" [(visible)]="isVisibleProgramPopup"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [width]="400" [height]="340">
  <div *dxTemplate="let data of 'content'">
    <form (submit)="onSubmitProgram($event)">
      <dx-form [formData]="programForm" labelLocation="top">

        <dxi-item dataField="name">
          <dxo-label [text]="'user.home.newProgramFormNameField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'user.home.typeValidationRequired' | translate:{'field': ('user.home.newProgramFormNameField' | translate)}">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="acronym">
          <dxo-label [text]="'user.home.newProgramFormAcronymField' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'user.home.typeValidationRequired' | translate:{'field': ('user.home.newProgramFormAcronymField' | translate)}">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="programId" editorType="dxSelectBox" [editorOptions]="{ items: cPrograms, displayExpr: 'name',
        valueExpr: 'id', placeholder: ('user.home.newProgramFormSimilarProgramPlaceholder' | translate) }">
          <dxo-label [text]="'user.home.newProgramFormSimilarProgramFieldExplained' | translate"></dxo-label>
          <dxi-validation-rule type="required"
            [message]="'user.home.typeValidationRequired' | translate:{'field': ('user.home.newProgramFormSimilarProgramField' | translate)}">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="submitButtonOptions">
        </dxi-item>

      </dx-form>
    </form>
  </div>
</dx-popup>