<div class="wrapper">
  <div class="d-flex align-items-center justify-content-center form-container h-100">
    <div class="card">
      <div class="header">
        <div class="arrow-left">
          <a routerLink="/" aria-label="Back">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
          </a>
        </div>
        <div class="logo">
          <img height="60" src="assets/images/acm-ieee.jpg">
        </div>
      </div>
      <div class="d-flex scrollable overflow-auto">
        <div class="content">
          <ng-content select="router-outlet"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>